.navbar {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--main-color);

    a {
        color: white;
    }
}

.router-link-active {
    background-color: var(--link-active-color);
    color: white !important;
    border-radius: 10px;
}

.nav-link:hover {
    // background-color: var(--link-active-color);
    // color: #E5A46E !important;
    // color: white !important;
    // font-style: oblique;
    // font-size: 12px;

}

.for-cart {
    position: relative;
}

.numofcartitem-badge {
    position: absolute;
    border-radius: 100%;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #E5A46E;
    text-align: center;
    right: 0px;
    top: 0px;


}