.navbar {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--main-color);

    a {
        color: white;
    }
}

.router-link-active {
    background-color: var(--link-active-color);
    color: white !important;
    border-radius: 10px;
}

.nav-link:hover {
    // background-color: var(--link-active-color);
    color: #E5A46E !important;

}

.numofcartitem-badge {
    position: relative;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    background-color: #E5A46E;
    text-align: center;

    p {
        position: absolute;
    }

}