<nav class="mx-2  navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">Tashkila</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home']" routerLinkActive="router-link-active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['orders']" routerLinkActive="router-link-active">Orders</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['cart']" routerLinkActive="router-link-active">Cart</a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LogOut</a>
                </li>
                <li class="nav-item for-cart">
                    <a class="nav-link" [routerLink]="['cart']" routerLinkActive="router-link-active">
                        <div class="numofcartitem-badge d-flex justify-content-center align-items-center">
                            <p class="m-0 p-0">{{this._cartService.numberofcartItems.getValue()}}</p>
                        </div>

                        <i class="pi pi-cart-plus" style="font-size: 1.5rem ;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>