.navbar {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--main-color);

    a {
        color: white;
    }
}

.router-link-active {
    background-color: var(--link-active-color);
    color: white;
    border-radius: 10px;
}