<nav class="mx-2  navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">Tashkila</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['home']" routerLinkActive="router-link-active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['register']" routerLinkActive="router-link-active">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['cart']" routerLinkActive="router-link-active">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LogOut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Setting</a>
                </li>
            </ul>
        </div>
    </div>
</nav>