.p-button-success {
    height: 2rem;
    width: 2.5rem;
    border-radius: 5px;
    background-color: var(--link-active-color);
    border: none;

    &:hover {
        background-color: #cc9363;
    }
}


th {
    text-align: center;
}

td {
    text-align: center;
}

.remove-btn {
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
    border: none;
    background-color: #DC2626;
    color: white;
    text-align: center;
    padding-top: 5px;


    &:hover {
        background-color: #c31d1d;
        color: white;

    }
}