<div class="row">
    <div class="row row-for-product-details d-flex mx-auto">
        <div class="col-lg-4 max-height-class">

            <div class="card">
                <p-galleria [value]="images" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions"
                    [circular]="true" [numVisible]="5" [containerStyle]="{ 'max-width': '640px' }">
                    <ng-template pTemplate="item" let-item>
                        <img class="thumbnail-img" [src]="item" style="display: block;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img class="gallery-img" [src]="item" style="display: block;" />
                        </div>
                    </ng-template>
                </p-galleria>
            </div>

        </div>
        <div class="col-lg-8 pt-5">

            <p-card header={{productDetails.brand.name}}>
                <p class="m-0">
                    {{productDetails.description}}
                </p>
                <p-toast position="top-right"></p-toast>
                <button type="button" pButton pRipple (click)="addProductToCart()" label="Add To Cart"
                    class="p-button-success mt-4"></button>

                <i (click)="IsFavourite?removeProductfromfavouriteList(): addProductTofavouriteList()"
                    [class]="IsFavourite ? 'pi pi-heart-fill ms-3 ' : 'pi pi-heart ms-3'" style="font-size: 2rem"></i>
                <!-- <i (click)="removeProductfromfavouriteList()" class="ms-3 pi pi-heart-fill" style="font-size: 2rem"></i> -->

                <!-- <button type="button" pButton pRipple label="Success" class="p-button-success"></button> -->

            </p-card>

        </div>
    </div>


</div>