<div class="row">
    <div class="row row-for-product-details d-flex mx-auto">
        <div class="col-lg-4">

            <div class="card">
                <p-galleria [value]="images" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions"
                    [circular]="true" [numVisible]="5" [containerStyle]="{ 'max-width': '640px' }">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.source" style="width: 100%; display: block;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.source" style="display: block; width: 90%;" />
                        </div>
                    </ng-template>
                </p-galleria>
            </div>

        </div>
        <div class="col-lg-8">
            <p-card header="Jeans pants">
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam
                    perferendis esse, cupiditate neque
                    quas!
                </p>
                <!-- <button type="button" pButton pRipple (click)="showSuccess()" label="Success"
                    class="p-button-success"></button> -->

            </p-card>

        </div>
    </div>


</div>