<div class="row">
    <div class="row row-for-product-details d-flex mx-auto">
        <div class="col-lg-4">

            <div class="card">
                <p-galleria [value]="images" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions"
                    [circular]="true" [numVisible]="5" [containerStyle]="{ 'max-width': '640px' }">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item" style="width: 100%; display: block;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item" style="display: block; width: 90%;" />
                        </div>
                    </ng-template>
                </p-galleria>
            </div>

        </div>
        <div class="col-lg-8 pt-5">

            <p-card header={{productDetails.brand.name}}>
                <p class="m-0">
                    {{productDetails.description}}
                </p>
                <p-toast position="top-right"></p-toast>
                <button type="button" pButton pRipple (click)="x ? showSuccess() : showError();" label="Add To Cart"
                    class="p-button-success mt-4"></button>


                <!-- <button type="button" pButton pRipple label="Success" class="p-button-success"></button> -->

            </p-card>

        </div>
    </div>


</div>