// .max-height-class {
//     img {
//         height: 0px;
//     }
// }
.thumbnail-img {
    width: 200px;
}

.gallery-img {
    width: 50%;
}

.pi {
    cursor: pointer;
}

.pi-heart-fill {
    color: red;
}