<div class="row">
    <div class="row row-for-caruosel d-flex mx-auto">

        <div class="col-lg-9  px-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/imgs/main-slider-1.jpeg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/imgs/main-slider-2.jpeg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/imgs/main-slider-3.jpeg" alt="Third slide">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 d-lg-block d-none  px-0">
            <div class="upper-image">
                <img src="assets/imgs/main-slider-1.jpeg" alt="">
            </div>
            <div class="lower-image">
                <img src="assets/imgs/main-slider-2.jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="row row-for-categories-label d-flex mx-auto mt-3">
        <p>Shop Popular Categories</p>
    </div>
    <div class="row row-for-categories d-flex mx-auto">
        <div class="col  px-0 text-center">
            <img src="assets/imgs/main-slider-1.jpeg" alt="">
            <img src="assets/imgs/main-slider-2.jpeg" alt="">
            <p>Electronics</p>
        </div>
        <div class="col  px-0 text-center">
            <img src="assets/imgs/main-slider-1.jpeg" alt="">
            <img src="assets/imgs/main-slider-2.jpeg" alt="">
            <p>Mobiles</p>
        </div>
        <div class="col  px-0 text-center">
            <img src="assets/imgs/main-slider-1.jpeg" alt="">
            <img src="assets/imgs/main-slider-2.jpeg" alt="">
            <p>Men</p>
        </div>
        <div class="col  px-0 text-center">
            <img src="assets/imgs/main-slider-1.jpeg" alt="">
            <img src="assets/imgs/main-slider-2.jpeg" alt="">
            <p>Women</p>

        </div>
        <div class="col  px-0 text-center">
            <img src="assets/imgs/main-slider-1.jpeg" alt="">
            <img src="assets/imgs/main-slider-2.jpeg" alt="">
            <p>Home</p>
        </div>
        <div class="col  px-0 text-center">
            <img src="assets/imgs/main-slider-1.jpeg" alt="">
            <img src="assets/imgs/main-slider-2.jpeg" alt="">
            <p>Beauty & Health</p>

        </div>
        <div class="col  px-0 text-center">
            <img src="assets/imgs/main-slider-1.jpeg" alt="">
            <img src="assets/imgs/main-slider-2.jpeg" alt="">
            <p>Baby & Toys</p>

        </div>
    </div>
    <div class="row row-for-all-products d-flex mx-auto">
        <div class="card">
            <p-table [value]="allProducts" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                [tableStyle]="{'min-width': '50rem'}"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="caption" class="d-flex">
                    <div class="col-6 d-flex">

                        <input class="form-control w-100 mx-auto" type="text" placeholder="Search keyword" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Reviews</th>
                        <th>Quantity</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product ; let-i="index">
                    <tr [routerLink]="['/maincomponent/product-details']">
                        <td>{{ i + 1 }}</td>
                        <td>{{ product.title | splitString:2 }}</td>
                        <td><img [src]="product.imageCover" [alt]="product.name" width="100" class="shadow-4" /></td>
                        <td>{{ product.price | currency:'EGP' }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>
                            <p-rating [(ngModel)]="product.ratingsAverage" [readonly]="false" [cancel]="false"
                                [stars]="1"></p-rating>
                            {{ product.ratingsAverage }}
                        </td>
                        <td>{{ product.quantity }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>



    </div>


</div>