.error-wrapper {
    height: 100vh;

    img {
        width: 30%;
    }
}

.btn-backhome {
    width: 200px;
    background-color: #125669;
    border: none;
    color: white;

    &:active {
        background-color: #0e3c49;
    }
}