<div class="row">


    <div class="row row-for-all-cart-products d-flex mx-auto">

        <div class="card mt-3">
            <!-- 
            <table>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Reviews</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let product of products ; let i = index">
                    <td>{{product.name}}</td>
                    <td>{{product.image}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.reviews}}</td>
                    <td>
                        <button class="p-button-success mx-2" (click)="decreaseQuantity()">-</button>
                        <span>{{product.quantity}}</span>
                        <button class="p-button-success mx-2" (click)="increaseQuantity(i)">+</button>
                    </td>
                </tr>
            </table> -->
            <p-table [value]="cartProducts" [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <p>Favourite Items</p>
                                <p class="ps-3">{{quantity}}</p>
                            </div>
                            <div>
                                <button (click)="clearCart()" class="remove-btn" label="Remove" severity="danger">Remove
                                    All</button>
                            </div>

                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Reviews</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>

                        <td>{{ product.brand.name }}</td>
                        <td><img [src]="product.imageCover" [alt]="product.name" width="100" class="shadow-4" />
                        </td>
                        <td>{{ product.price | currency:'EGP' }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>
                            <p-rating [readonly]="false" [cancel]="false" [stars]="1"></p-rating>
                            {{ product.ratingsAverage }}
                        </td>
                        <!-- <td><p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag></td> -->
                        <td>
                            <button (click)="removeItemforLoggedUserCart(product.product.id)" class="remove-btn"
                                label="Remove" severity="danger">Remove Items</button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="d-flex justify-content-between">
                        <div class="flex align-items-center justify-content-between">
                            The Total Price Is {{totalPrice}} EGP.
                        </div>
                        <div>
                            <button [routerLink]="['/maincomponent/shipping-address',cartId]" class="remove-btn"
                                label="Remove" severity="danger">
                                Payment
                            </button>
                        </div>
                    </div>
                </ng-template>
            </p-table>
        </div>


    </div>


</div>